# --- Terraform ---
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
*.tfvars

# --- Java / Maven ---
target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd

# --- IDEs & OS ---
.idea/
.vscode/
*.swp
.DS_Store